.header {
  position: relative;
  .header__left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    .icon{
      font-size: 20px;
    }
  }
  .header__right {
    position: absolute;
  }
  .header__center {
    margin: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
}
